/* HEADER */
header {
    position: sticky;
    top: 0;
    padding: 10px;
    z-index: 1000;
    background: black;
    color: #fff;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15) ;
}

.header_img {
height: 64px;
width: 64px;
margin-left: 128px;
}

html,
body {
    height: 100%;
}
/* Стили главной страницы */

.facke_paralaks {
    background: url(/static/image/Rescuer.jpg) center / cover no-repeat fixed;
    display: flex;
    background-size: 100% 100%;
    min-height: 50vh;
    flex-direction: column;
}
.granic {
    height: 8vh;
    background-color: rgb(58, 58, 58);
}
.Main_page_content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.volontir_main_text_place {

    padding: 5%;

    height: auto;
    max-height: 50vh;
    max-width: 50vh;
    margin: auto;
    color: white;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.5vh solid white;
}

.volontir_main_name {
    margin: auto;
    font-size: 10vh;
    color: white;
    justify-content: center;
}
.volontir_main {
    display: flex;
    background-image: url(/static/image/ValantirMainPicture.png);
    background-size: cover;
    background-size: 100% 100%;
    min-height: 100vh;
}

.Vstupi_v_valantirs_plase {
    display: flex;
    min-height: 60vh;
    background-color: black;
}

.Vstupi_v_valantirs_text_place {
    padding: 3vh;
    height: auto;
    max-height: 50vh;
    max-width: 50vh;
    margin: auto auto auto 30vh;
    color: white;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.5vh solid rgb(193, 95, 34);
}
.Vstupi_v_valantirs_button {
    width: 100%;
}
.Vstupi_v_valantirs_img {
    margin: auto auto auto 30vh;
    height: 50vh;
    width: 50vh;
    /* width: 50%;
    height: 70%; */
}

.divblock {
    max-height: 50%;
    max-width: 40%;
    min-width: 450px;
    width: auto;
    height: auto;

    margin-left: auto;
    margin-right: auto;
}

.Titels {
    font-size: 25px;
}

.maintext {
    font-size: 15px;
}

.main_team {
    display: grid;
    margin: 20px auto 20px auto;
    background: rgb(240, 147, 89);
    /* height: auto; */
    grid-template-columns: 1fr 1fr;
    /* justify-content: center; */
}

.team_sotr_sect {
    display: inline-block;
    vertical-align: middle;
}
.team_png_place {
    padding: 5px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.team_sotr_text {
    padding: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.team_png {
    max-height: 40vh;
    max-width: 40vh;
    margin-left: auto;
    margin-right: auto;
}

.bottmcontent {
    height: 120px;
}

.content {
    min-height: 100%;
}


.main_inf {
    background-color: rgb(231, 231, 231);
    border-radius: 1%;
    max-width: 90%;
    height: auto;
    margin: 20px auto auto auto;
}
/* Стили списка пропавших */

.cardsection { 
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
    max-width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
} 

.card {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    max-width: 450px; 
    max-height: 700px;
}

.img_section {
    margin-left: auto;
    margin-right: auto;
    height: 470px;
    max-width: 300px;
    max-height: 400px;
}

.spisokimg{
    /* max-width: 540px;
    max-height: 470px; */
    width: 100%;
    height: 100%;
}