{% extends "base.html" %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}

<section class="Main_page_content">
  <div class="maincontent">

    
    <article class="volontir_main">

      <h1 class="volontir_main_name">
        POTERYSHKI
      </h1>

      <div class="volontir_main_text_place">
        <h2 class="volontir_main_titel">Наша цель</h2>
        <p class="volontir_main_text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat debitis laboriosam, neque aspernatur blanditiis vel. Porro molestiae hic odit! Ipsam sint alias corporis maxime veritatis, 
          eaque fugiat nesciunt magnam? Quis. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </p>
      </div>

    </article>

    <article class="Vstupi_v_valantirs_plase">
      <div class="Vstupi_v_valantirs_text_place">
        <p class="volontir_main_text">
          Тебе 18 и хочешь стать валантёрам?
        </p>
        <button class="Vstupi_v_valantirs_button" >
          Вступить!
        </button>
      </div>

      <img class="Vstupi_v_valantirs_img" src="{{ url_for('static', filename='image/lost_cild.jpg')}}" alt="child">
    </article>

    <div class="facke_paralaks"></div>

    <div class="granic"></div>

    <div class="main_inf">
      <!-- <article class="Story">
        <div class="divblock">
          <h2 class="Titels">История создания</h2>
          <p class="maintext">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat debitis laboriosam, neque aspernatur blanditiis vel. Porro molestiae hic odit! Ipsam sint alias corporis maxime veritatis, 
            eaque fugiat nesciunt magnam? Quis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Consequatur commodi saepe earum dolorum odit nemo voluptate. Fugit quibusdam, hic doloribus rem reprehenderit vel eius totam, rerum obcaecati a, quam incidunt? 
          </p>
        </div>
      </article> -->
  
      <article class="articles">
        <div class="Titels_div">
          <h2 class="Titels">Наши сотрудники</h2>
        </div>
  
        <div class="main_team">
          
          
          <div class="Sotr1">
            <div class="team_png_place">
              <img class="team_png" src="{{ url_for('static', filename='image/Maria.png')}}" alt="musha">
            </div>

            <div class="team_sotr_text">
              <h3>Мария Ишутинова</h3>
              <p>
              Lorem ipsum dolor sit ame consectetur adipisicing elit. Quaerat debitis laboriosam, neque aspernatur blanditiis vel. Porro molestiae hic odit! Ipsam sint alias corporis maxime veritatis, 
              eaque fugiat nesciunt magnam? Quis. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              </p>
            </div>

          </div>

          <div class="Sotr2">
            <div class="team_png_place">
              <img class="team_png" src="{{ url_for('static', filename='image/Ump.png')}}" alt="upaev">
            </div>
            
            <div class="team_sotr_text">
              <h3>Упаев Александр</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat debitis laboriosam, neque aspernatur blanditiis vel. Porro molestiae hic odit! Ipsam sint alias corporis maxime veritatis, 
                eaque fugiat nesciunt magnam? Quis. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              </p>
            </div>

          </div>

          <div class="Sotr3">
            <div class="team_png_place">
              <img class="team_png" src="{{ url_for('static', filename='image/Me.png')}}" alt="Me">
            </div>

            <div class="team_sotr_text">
              <h3>Александров Михаил</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat debitis laboriosam, neque aspernatur blanditiis vel. Porro molestiae hic odit! Ipsam sint alias corporis maxime veritatis, 
                eaque fugiat nesciunt magnam? Quis. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              </p>
            </div>

          </div>

        </div>
  
        <div class="divblock">
          <p class="maintext">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat debitis laboriosam, neque aspernatur blanditiis vel. Porro molestiae hic odit! Ipsam sint alias corporis maxime veritatis, 
            eaque fugiat nesciunt magnam? Quis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Consequatur commodi saepe earum dolorum odit nemo voluptate. Fugit quibusdam, hic doloribus rem reprehenderit vel eius totam, rerum obcaecati a, quam incidunt? 
          </p>
        </div>
  
  
      </article>
  
      <article class="articles">
        <div class="divblock">
          <h2 class="Titels">Чо-то ещё</h2>
          <p class="maintext">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat debitis laboriosam, neque aspernatur blanditiis vel. Porro molestiae hic odit! Ipsam sint alias corporis maxime veritatis, 
            eaque fugiat nesciunt magnam? Quis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Consequatur commodi saepe earum dolorum odit nemo voluptate. Fugit quibusdam, hic doloribus rem reprehenderit vel eius totam, rerum obcaecati a, quam incidunt? 
          </p>
        </div>
      </article>
    </div>

    </div>
    
  

  <div class="bottmcontent">
      <div class="row text-white", style="overflow-wrap: break-word">

        <div class="col-md-4 pt-3 pb-3 bg-black part1">
          <h3 class="text-white"><strong>Заголовок 1</strong></h3>
          <p>akfifnvlsjdf,jhlvhsd,tknhsvdnjfalinaekrhfvfauiaervnhfiuierhn,fuhsdfush,gvnsdurghvsnkghsurgnhvs,djvgerkgvungiuhi</p>
        </div>

        <div class="col-md-4 pt-3 pb-3 bg-black part1">
          <h3 class="text-white"><strong>Заголовок 1</strong></h3>
          <p>akfifnvlsjdf,jhlvhsd,tknhsvdnjfalinaekrhfvfauiaervnhfiuierhn,fuhsdfush,gvnsdurghvsnkghsurgnhvs,djvgerkgvungiuhi</p>
        </div>

        <div class="col-md-4 pt-3 pb-3 bg-black part1">
          <h3 class="text-white"><strong>Заголовок 1</strong></h3>
          <p>akfifnvlsjdf,jhlvhsd,tknhsvdnjfalinaekrhfvfauiaervnhfiuierhn,fuhsdfush,gvnsdurghvsnkghsurgnhvs,djvgerkgvungiuhi</p>
        </div>

      </div>
    </div>

</section>

{% endblock %}