{% extends "base.html" %} {% block title %} Главная страница {% endblock %} {%
block content %}

<section class="Main_page_content">
  <div class="maincontent">
    <article class="volontir_main">
      <h1 class="volontir_main_name">POTERYSHKI</h1>

      <div class="volontir_main_text_place">
        <p class="volontir_main_text"  style="font-size: 20px">
          Сайт посвящён поиску пропавших людей. Наша цель – не только
          информировать общество, но и объединить усилия всех людей для поиска
          пропавших.
        </p>
      </div>
    </article>

    <article class="Vstupi_v_valantirs_plase">
      <img
          class="Vstupi_v_valantirs_img"
          src="{{ url_for('static', filename='image/lost_cild.jpg')}}"
          alt="child"
      />
    </article>

    <div class="granic"></div>

    <div class="facke_paralaks"></div>

    <div class="granic"></div>

    <div class="main_inf">
      <article class="articles">
        <p class="some_text"  style="font-size: 20px">
          Проблема без вести пропавших людей существует во многих странах мира и
          затрагивает не только семьи и друзей пропавших, но и общество в целом.
          Каждый год тысячи людей исчезают по различным причинам, и поиск их
          становится настоящим вызовом для правоохранительных органов,
          волонтеров и организаций, занимающихся помощью в таких ситуациях.
        </p>

        <h2 class="Titels" style="font-size: 36px;  text-align: center; margin-top: 40px;">
          Наша команда
      </h2>
        <div class="main_team_place">
          <div class="main_team">
            <div class="Sotr1">
              <div class="team_png_place">
                <img
                  class="team_png"
                  src="{{ url_for('static', filename='image/МАША.jpg')}}"
                  alt="musha"
                />
              </div>

              <div class="team_sotr_text"  style="font-size: 20px">
                <h3>Мария Ишутинова</h3>
                <p>
                  Ишутинова Мария Александровна отвечала за дизайн сайта. Она
                  занималась разработкой концепции визуального оформления:
                  подбирала цвета, шрифты и иконки, а также придумывала тексты
                  для заполнения сайта.
                </p>
              </div>
            </div>

            <div class="Sotr2">
              <div class="team_png_place">
                <img
                  class="team_png"
                  src="{{ url_for('static', filename='image/Саша.jpg')}}"
                  alt="upaev"
                />
              </div>

              <div class="team_sotr_text"  style="font-size: 20px">
                <h3>Упаев Александр</h3>
                <p>
                  Упаев Александр Юлианович занимался бэкенд-разработкой. Он
                  использовал фреймворк Flask для создания серверной части
                  сайта, подключил базу данных DB SQLite и обеспечил
                  функциональность авторизации и регистрации пользователей.
                </p>
              </div>
            </div>

            <div class="Sotr3">
              <div class="team_png_place">
                <img
                  class="team_png"
                  src="{{ url_for('static', filename='image/Me.png')}}"
                  alt="Me"
                />
              </div>

              <div class="team_sotr_text "  style="font-size: 20px">
                <h3>Александров Михаил</h3>
                <p>
                  Александров Михаил Эдуардович занимался внешней разработкой
                  сайта, сосредоточившись на фронтенде. Его задача заключалась в
                  создании интерактивного и привлекательного интерфейса для
                  пользователей.
                </p>
              </div>
            </div>
          </div>
        </div>
        <blockquote class="colorful-quote">
          <p class="maintext" style="font-size: 20px">
            "Мы убеждены, что наш проект может оказать реальную помощь в решении
            этой важной социальной проблемы, и надеемся, что он станет полезным
            ресурсом для всех, кто ищет своих близких."
          </p>
          <p class="cit">POTERYSHKI.team</p>
          <p></p>
        </blockquote>
      </article>
    </div>
  </div>

  <div class="bottmcontent bg-black text-white">
    <div class="col-1"></div>

    <div class="col-2"></div>
  </div>

  <script>
    let bg = document.querySelector(".volontir_main_name");
    window.addEventListener("mousemove", function (e) {
      let x = e.clientX / window.innerWidth;
      let y = e.clientY / window.innerHeight;
      bg.style.transform = "translate(-" + x * 15 + "px, -" + y * 15 + "px)";
    });
  </script>
</section>

{% endblock %}
