{% extends "base.html" %}

{% block title %}
Списки пропавших
{% endblock %}

{% block content %}
<h1 style="font-size: 48px;">Списки пропавших</h1>
<h2 style="text-align: center;">Количество пропавших: {{ midding_count }}</h2>

<section class="spisock_main">
    <div class="cardsection row mb-gutters">
        {% for post in posts %}
        <div class="card col-md-6 col-lg-4 mb-4">
            <div class="row g-0">
                <div class="img_section">
                    <img class="spisokimg" src="data:image/jpeg;base64,{{ post.Photo }}" class="img-fluid rounded-start" alt="картинка">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ post.Name }} {{ post.Surname }} {{ post.Patronymic }}</h5>
                    <p class="card-text">{{ post.Description }}</p>
                    <p class="card-text"><small class="text-muted">Дата рождения: {{ '%02d.%02d.%04d' | format(post.DataOfBirth.day, post.DataOfBirth.month, post.DataOfBirth.year) }}</small></p>
                    <p class="card-text"><small class="text-muted">Пол: {{ post.Gender }}</small></p>
                    <p class="card-text"><small class="text-muted">Дата последнего появления: {{ '%02d.%02d.%04d' | format(post.DataOfLastAppearance.day, post.DataOfLastAppearance.month, post.DataOfLastAppearance.year) }}</small></p>
                    <p class="card-text"><small class="text-muted">Место последнего появления: {{ post.PlaceOfLastAppearance }}</small></p>
                </div>

                <div class="mb-3">
                    <label for="status" class="form-label">Статус поиска</label>
                    {% if current_user.is_authenticated and current_user.Role.lower() == 'волонтёр' %}
                        {% set Interactions = True %}
                        <!-- Форма для изменения статуса -->
                        <form action="{{ url_for('update_status', post_id=post.id) }}" method="POST">
                            <select id="status" name="status" class="form-select">
                                <option value="Никто не ищет" {% if post.Status == "Никто не ищет" %}selected{% endif %}>Никто не ищет</option>
                                <option value="В поиске" {% if post.Status == "В поиске" %}selected{% endif %}>В поиске</option>
                                <option value="Обнаружен" {% if post.Status == "Обнаружен" %}selected{% endif %}>Обнаружен</option>
                            </select>
                            <button type="submit" class="btn btn-primary mt-2">Обновить статус</button>
                        </form>

                        <!-- Форма для связывания волонтёра -->
                        <form action="{{ url_for('toggle_volunteer_link', post_id=post.id) }}" method="POST">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="linkCheckbox{{ post.id }}" name="linked" {% if post.is_linked %}checked{% endif %}>
                                <label class="form-check-label" for="linkCheckbox{{ post.id }}">
                                    Вступить в поисковую группу
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary mt-2">Сохранить</button>
                        </form>
                    {% else %}
                        <!-- Только для отображения статуса, если пользователь не волонтёр -->
                        <select id="status" name="status" class="form-select" disabled>
                            <option value="Никто не ищет" {% if post.Status == "Никто не ищет" %}selected{% endif %}>Никто не ищет</option>
                            <option value="В поиске" {% if post.Status == "В поиске" %}selected{% endif %}>В поиске</option>
                            <option value="Обнаружен" {% if post.Status == "Обнаружен" %}selected{% endif %}>Обнаружен</option>
                        </select>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}

